In [1]:
import pandas as pd 
import seaborn as sns 

print(pd.__version__)
print(sns.__version__)

2.1.4
0.12.2

In [2]:
iris = sns.load_dataset("iris")
iris.head(3)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

In [3]:
iris.tail(3)

     sepal_length  sepal_width  petal_length  petal_width    species
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [4]:
iris.shape

(150, 5)

In [5]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [6]:
iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [7]:
iris['species'].value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [8]:
type(iris['species'].value_counts())

pandas.core.series.Series

- Series 데이터 타입 : https://pandas.pydata.org/docs/reference/api/pandas.Series.html

In [9]:
iris['species'].value_counts().index

Index(['setosa', 'versicolor', 'virginica'], dtype='object', name='species')

In [10]:
iris['species'].value_counts().array

<NumpyExtensionArray>
[50, 50, 50]
Length: 3, dtype: int64

In [11]:
iris['species'].value_counts().array

<NumpyExtensionArray>
[50, 50, 50]
Length: 3, dtype: int64

In [12]:
iris['species'].value_counts().memory_usage()

48

In [13]:
df = iris.drop("species", axis=1)
df.head(1)

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2

In [14]:
iris.shape, df.shape

((150, 5), (150, 4))

In [15]:
df2 = iris.drop(['sepal_length', 'sepal_width'], axis=1)
df2.head(1)

   petal_length  petal_width species
0           1.4          0.2  setosa

In [16]:
iris.shape, df.shape, df2.shape

((150, 5), (150, 4), (150, 3))

In [17]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [18]:
df3 = iris.drop([0, 1, 2], axis=0)
df3.head(1)

   sepal_length  sepal_width  petal_length  petal_width species
3           4.6          3.1           1.5          0.2  setosa

In [19]:
df3 = iris.drop([0, 1, 2], axis=0).reset_index(drop=True)
df3.head(1)

   sepal_length  sepal_width  petal_length  petal_width species
0           4.6          3.1           1.5          0.2  setosa

In [20]:
iris.shape, df.shape, df2.shape, df3.shape

((150, 5), (150, 4), (150, 3), (147, 5))

# 파일 입출력
- 파일 내보내기
-

In [21]:
iris.to_csv("iris.csv")

In [22]:
iris.to_csv("iris2.csv", index=False)

In [25]:
iris.to_csv("../test_data/iris.csv", index=False)